<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaLiga | Información Legal</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/mediaquery.css">
    <link rel="stylesheet" href="../css/privacidad.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>

    <!-- Cabecera principal (id='header-principal'). Estan colocados los escudos de los clubes y sus respectivos enlaces direccionando a las páginas webs de los mismos -->
    <header id="header-principal">
        
        <nav class="nav-clubes">

            <!-- Pequeño título: "Web Clubes" -->
            <!-- Ícono de ordenador portatil desde Bootstrap Icons -->
            <div id="title-web">
                <div id="web">Web Clubes</div>
                <div id="laptop-icon"><i class="bi bi-laptop"></i></div>
            </div>
            
            <!-- Contenedor de logos de cada club -->
            <div class="container-clubes">

                <!-- Cada club con la clase: class='clubes-primera' debido a que son de primera división -->
                <!-- FC Barcelona -->
                <div> 
                    <a href="https://www.fcbarcelona.es/es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/FC_Barcelona.png" alt="FC Barcelona"></a>
                </div>
                
                <!-- Real Madrid -->
                <div>
                    <a href="https://www.realmadrid.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Real_Madrid_CF.png" alt="Real Madrid CF"></a>
                </div>
                
                <!-- Atlético de Madrid -->
                <div>
                    <a href="https://www.atleticodemadrid.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Atletico_Madrid.png" alt="Atletico de Madrid"></a>
                </div>            
    
                <!-- Athletic de Bilbao -->
                <div>
                    <a href="https://www.athletic-club.eus/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Athletic_Bilbao.png" alt="Athletic Bilbao"></a>
                </div>
                
                <!-- Real Betis -->
                <div>
                    <a href="https://www.realbetisbalompie.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Real_Betis.png" alt="Real Betis"></a>
                </div>
                
                <!-- Sevilla FC -->
                <div>
                    <a href="https://www.sevillafc.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Sevilla.png" alt="Sevilla FC"></a>
                </div>
                
                <!-- Valencia -->
                <div>
                    <a href="https://www.valenciacf.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Valencia.png" alt="Valencia"></a>
                </div>
                
                <!-- RCD Mallorca -->
                <div>
                    <a href="https://www.rcdmallorca.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/RCD_Mallorca.png" alt="RCD Mallorca"></a>
                </div>
                
                <!-- Rayo Vallecano -->
                <div>
                    <a href="http://www.rayovallecano.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Rayo_Vallecano.png" alt="Rayo Vallecano"></a>
                </div>
                
                <!-- Real Sociedad -->
                <div>
                    <a href="https://www.realsociedad.eus/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Real_Sociedad.png" alt="Real Sociedad"></a>
                </div>
                
                <!-- Villarreal -->
                <div>
                    <a href="https://villarrealcf.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Villarreal.png" alt="Villarreal CF"></a>
                </div>
                
                <!-- RC Celta -->
                <div>
                    <a href="https://rccelta.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Celta_Vigo.png" alt="RC Celta"></a>
                </div>
                
                <!-- Real Valladolid -->
                <div>
                    <a href="https://www.realvalladolid.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Valladolid.png" alt="Real Valladolid CF"></a>
                </div>
                
                <!-- Getafe CF -->
                <div>
                    <a href="https://www.getafecf.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Getafe.png" alt="Getafe CF"></a>
                </div>
                
                <!-- Elche -->
                <div>
                    <a href="https://www.elchecf.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Elche.png" alt="Elche CF"></a>
                </div>
                
                <!-- Cadiz -->
                <div>
                    <a href="https://www.cadizcf.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Cadiz.png" alt="Cadiz CF"></a>
                </div>
                
                <!-- Espanyol -->
                <div>
                    <a href="https://www.rcdespanyol.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Espanyol.png" alt="RCD Espanyol de Barcelona"></a>
                </div>
                
                <!-- Almería -->
                <div>
                    <a href="https://www.udalmeriasad.com/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Almeria.png" alt="UD Almería"></a>
                </div>
                
                <!-- Girona -->
                <div>
                    <a href="https://www.gironafc.cat/es" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Girona.png" alt="Girona FC"></a>
                </div>
                
                <!-- Osasuna -->
                <div>
                    <a href="https://www.osasuna.es/" target="blank"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Osasuna.png" alt="CA Osasuna"></a>
                </div>
            </div>

        </nav>
        
        <hr>

        <!-- Contenedor de navegador secundario (class="container-nav-secundario") donde se encuentran las opciones de navegación a travez de la página -->
        
        <div class="container-nav-secundario">
            
            <!-- Ícono de "LaLiga" (Oculto hasta que el tamaño sea menos de 930px) -->
            <div>
                <img class="img-icon-laLiga" src="../../img/Icon_LaLiga/Laliga_icon.png" alt="Logo de LaLiga">
            </div>

            <!-- Menú de hamburguesa de Bootstrap Icons (Oculto hasta los 930px) -->
            <i class="bi bi-list icon-button-burger"></i>

            <!-- Navegador secundario (class='nav-secundario') -->
            <nav class="nav-secundario nav-secundario-tienda">
                <ul class="nav-ul nav-ul-tienda">
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="../Presupuesto.html">Tienda</a></li>
                    <li><a href="../Galeria.html">Galería</a></li>
                    <li><a href="../contacto.html">Contacto</a></li>
                </ul>
            </nav>
            
        </div>

        <!-- Contenedor de encabezado de "Política de Privacidad" -->
        <div class="container-encabezado-privacidad">
            
            <img src="../../img/Bordes_decorativos_LaLiga/borde-azul-uno.png" alt="Borde decorativo azul">
            
            <div class="title_infoLegal">
                <div>
                    <h1>POLÍTICAS DE PRIVACIDAD</h1>
                </div>
                <div class="btns_avisos">
                    <a id="aviso2" href="./informacion_legal.html"><span>Avisos legales <span id="aviso1_oculto">y condiciones de uso</span></span></a>
                    <a id="aviso1" href="./politica_de_privacidad.html"><span>Políticas de privacidad</span></a>
                    <a id="aviso3" href="./politica_de_cookis.html"><span>Políticas de Cookis</span></a>
                </div>
            </div>
            
            <img src="../../img/Bordes_decorativos_LaLiga/borde-azul-dos.png" alt="Borde decorativo azul">
        
        </div>
        
    </header>

    <!-- Contenedor de texto de "Información Legal" -->
    <main class="container_text_il">
        <h1>Política de privacidad LaLiga.com</h1> <br>
            <span class="text_il">
                La presente Política de Privacidad (en adelante, la <strong>“Política”</strong>) tiene por objeto regular los actos de tratamiento de datos personales que realiza LaLiga Group International, S.L. (en adelante, <strong>“LaLiga”</strong>) a través de la web de LaLiga.com (en adelante, la <strong>“LaLiga.com”</strong> o la <strong>“WEB”</strong>).<br><br> 
                Para acceder a Fans LaLiga debes registrarte en LaLiga Ecosistema, a través del cual accedes a un entorno creado por LaLiga, integrado por varias aplicaciones y webs, tanto de LaLiga, como de sus filiales, así como de los clubes de fútbol afiliados con los que LaLiga mantiene acuerdos de colaboración, donde, por medio de un registro común implementado por LaLiga en dichos activos (Single Sign-On de LaLiga), cada usuario recibe un identificador único de modo que cualquier selección o modificación de las preferencias o petición de supresión que realice en una de las aplicaciones o webs que forman parte del ecosistema afectará al resto del entorno de LaLiga Ecosistema y a las entidades que lo conforman. 
                <br><br>
                <strong>¿Quién es el responsable del tratamiento de tus datos personales?</strong>
                <br><br>
                Tus datos de carácter personal serán tratados por LaLiga, con NIF: B05421805 y domicilio en Calle Torrelaguna 60, 28043, Madrid. 
                <br><br>
                Contacto con el Delegado de Protección de Datos de LaLiga: dpo@laliga.es 
                <br><br>
                <strong>¿De dónde obtenemos tus datos personales?</strong>
                <br><br>
                LaLiga tratará los datos que proporciones a través del formulario de registro (correo electrónico como dato obligatorio), tu perfil (nombre, apellido, avatar o foto, fecha de nacimiento, género, idioma, país de residencia, provincia, ciudad, dirección, Código postal, número de teléfono y equipo favorito solicitados como datos opcionales) y otros datos inferidos como consecuencia del uso y actividad que desarrolles en la web (ID de usuario registrado; ID de dispositivo; sistema operativo; modelo de dispositivo y telemetría, por ejemplo, también quedará registrado cuando hagas clic en un contenido determinado o el tiempo que permanezcas en el activo) o tus interacciones con las comunicaciones que te enviemos vía notificación web o mail, en su caso (por ejemplo, hacer clic en el contenido de una comunicación). 
                <br><br>
                Del mismo modo, en el caso de que seas usuario de otro activo responsabilidad de LaLiga o en el que LaLiga actúe como corresponsable de los datos y que formen parte de LaLiga Ecosistema, LaLiga podrá tratar en la web los datos personales anteriormente mencionados, declarados o inferidos en dichos activos. 
                <br><br>
                <span id="text_underline">Importación de datos de redes sociales.</span>
                <br><br>
                Te informamos de que podrás utilizar las redes sociales de las que eres usuario para registrarte o acceder a LaLiga Ecosistema, así como para compartir con LaLiga información adicional sobre tu perfil en dichas redes sociales. 
                <br><br>
                Datos compartidos a través de Facebook:
                <br><br>
                <ul>
                    <li class="list1">Nombre y foto del perfil (Obligatorio para registrarte. No obstante, te informamos que LaLiga no trata tu foto de perfil)</li>
                    <li class="list1">Dirección de correo electrónico (Opcional)</li>
                    <li class="list1">Cumpleaños (Opcional)</li>
                    <li class="list1">Publicaciones en la biografía (Opcional. Tus publicaciones públicas y privadas en la biografía, incluidas las fotos y los vídeos, información sobre los lugares etiquetados en ellos y los tipos de reacciones que reciben).</li>
                    <li class="list1">Género (Opcional)</li>
                    <li class="list1">Me gusta de la página (Opcional)</li>
                    <li class="list1">Ciudad actual (Opcional)</li>
                    <li class="list1">Categorías de intereses:
                        <ul>
                            <li class="list2">Alimentación,</li>
                            <li class="list2">Animales y Mascotas,</li>
                            <li class="list2">Arte y Cultura,</li>
                            <li class="list2">Bancos, Finanzas y Economía,</li>
                            <li class="list2">Bebidas Alcohólicas,</li>
                            <li class="list2">Belleza,</li>
                            <li class="list2">Cine, Teatro y Musicales,</li>
                            <li class="list2">Deportes,</li>    
                            <li class="list2">Electrónica e Informática,</li>
                            <li class="list2">Energía, Ciencia e Industria,</li>
                            <li class="list2">Grupos Sociales,</li>
                            <li class="list2">Hogar y Vivienda,</li>
                            <li class="list2">Infantil,</li>
                            <li class="list2">Medios,</li>
                            <li class="list2">Moda,</li>
                            <li class="list2">Motor,</li>
                            <li class="list2">Mujer,</li>
                            <li class="list2">Música,</li>
                            <li class="list2">Ocio y Entretenimiento,</li>
                            <li class="list2">ONGs Y Causas,</li>
                            <li class="list2">Salud, Higiene y Bienestar,</li>
                            <li class="list2">Seguros,</li>
                            <li class="list2">Servicios Profesionales,</li>
                            <li class="list2">Shopping,</li>
                            <li class="list2">Tecnología e Internet,</li>
                            <li class="list2">Telecomunicaciones,</li>
                            <li class="list2">TV y Radio,</li>
                            <li class="list2">Viajes,</li>
                            <li class="list2">Videojuegos,</li>
                            <li class="list2">Viral Media.</li>
                        </ul>
                    </li>
                </ul><br>
                Gracias a los me gusta de la página y a las publicaciones en la biografía, LaLiga obtendrá los siguientes datos inferidos: 
                <br><br>
                <ul>
                    <li class="list1">Valor “Engagement”: este valor mide el volumen de interacciones que el usuario tiene con el muro de Facebook de la página oficial de LaLiga.</li>
                    <li class="list1">Valor “Social”: este valor mide la influencia en redes sociales del usuario.</li>
                    <li class="list1">Valor “Promotion”: se analizan los muros de los usuarios buscando referencias a sorteos, promociones y participaciones en sorteos, y asigna un valor que mide el ratio promocional en el muro del usuario. También se verifica si el perfil
                        del usuario sigue páginas de Facebook dedicadas a publicitar promociones, rifas y sorteos.</li>
                    <li class="list1">Valor “Fan Value”: Esta puntuación es una combinación de las 3 anteriores que clasifica a los usuarios por el valor obtenido (un usuario con una puntuación más alta se considerará un usuario más valioso).</li>
                </ul><br>
                Datos compartidos a través de Google: <br><br>
                <ul>
                    <li class="list1">Nombre y apellidos (Obligatorio para registrarte)</li>
                    <li class="list1">Dirección de correo electrónico (Obligatorio para registrarte)</li>
                    <li class="list1">Apellido (Opcional)</li>
                    <li class="list1">Edad (Opcional)</li>
                    <li class="list1">Fecha de nacimiento (Opcional)</li>
                    <li class="list1">País (Opcional)</li>
                    <li class="list1">Sexo (Opcional)</li>
                    <li class="list1">Ciudad (Opcional)</li>
                    <li class="list1">Teléfono (Opcional)</li>
                    <li class="list1">Intereses (Opcional)</li>
                    <li class="list1">Gustos (Opcional)</li>
                    <li class="list1">Preferencias comunicaciones comerciales (Opcional)</li>
                    <li class="list1">Palabras claves/actividad social (Opcional)</li>
                    <li class="list1">Media (Opcional)</li>
                    <li class="list1">Hashtags (Opcional)</li>
                </ul><br>
                Datos compartidos a través de Twitch (Amazon): <br><br>
                <ul>
                    <li class="list1">Edad</li>
                    <li class="list1">Fecha de nacimiento</li>
                    <li class="list1">País</li>
                    <li class="list1">Ciudad</li>
                    <li class="list1">Correo electrónico</li>
                    <li class="list1">Idioma</li>
                    <li class="list1">Teléfono</li>
                    <li class="list1">No. De seguidores</li>
                    <li class="list1">Intereses</li>
                    <li class="list1">Gustos / canales más vistos</li>
                    <li class="list1">No. De seguidos</li>
                    <li class="list1">Palabras claves/actividad social</li>
                    <li class="list1">Media en su perfil</li>
                </ul><br>
                En este sentido, te informamos de que LaLiga no es responsable de la adecuación legal de la red social que utilices para las finalidades anteriormente enunciadas. Por este motivo, te recomendamos que revises las condiciones de uso y políticacde privacidad de las redes sociales que vayas a utilizar para dichas finalidades con el objetivo de que puedas verificar que el tratamiento que se realice con tus datos personales sea conforme con tus expectativas de privacidad y la normativa de protección de datos que en cada caso resulte de aplicación. <br><br>
                Una vez que los datos hayan sido importados e incorporados en tu cuenta de usuario registrado, tus datos serán integrados en LaLiga Ecosistema y tratados por LaLiga con las finalidades descritas en la presente Política de Privacidad.
            </span>
    </main>

    <!-- Contenedor patrocinadores (class='container-patrocinadores') -->
    <section class="container-patrocinadores">

        <!-- Título -->
        <div class="patrocinador-principal">
            <h5>Patrocinador principal</h5>

            <!-- Imagen de banco Santander -->
            <div>
                <a href="https://www.santander.com/es/home" target="blank"><img src="../../img/Patrocinadores/logo-santander.png" alt="Logo de banco Santander"></a>
            </div>
        </div>


        <!-- Contenedor de patrocinadores oficiales/secundarios -->
        <div class="patrocinador-secundario">

            <!-- Título -->
            <h5>Patrocinadores oficiales</h5>

            <!-- Contenedor de patrocinadores -->
            <div class="container-p-o">

                <!-- Marca: Puma -->
                <a href="https://eu.puma.com/es/es/home" target="blank">
                    <img id="marca-puma" src="../../img/Patrocinadores/Puma.png" alt="Marca Puma">
                </a>

                <!-- Marca: Fifa23 -->
                <a href="https://www.ea.com/es-es/games/fifa/fifa-23" target="blank">
                    <img id="marca-fifa23" src="../../img/Patrocinadores/Fifa23.png" alt="Marca Fifa23">
                </a>
                
                <!-- Marca: Microsoft -->
                <a href="https://www.microsoft.com/es-es/" target="blank">
                    <img id="marca-microsoft" src="../../img/Patrocinadores/Microsoft.png" alt="Marca Microsoft">
                </a>
                
                <!-- Marca: Mahou -->
                <a href="https://www.mahou.es/" target="blank">
                    <img id="marca-mahou" src="../../img/Patrocinadores/Mahou.png" alt="Marca Mahou">
                </a>
                
                <!-- Marca: Soares -->
                <a href="https://sorare.com/football/laliga" target="blank">
                    <img id="marca-soares" src="../../img/Patrocinadores/Sorare.png" alt="Marca">
                </a>
                
                <!-- Marca: GrowingTogether -->
                <a href="https://www.bkt-tires.com/es/es/" target="blank">
                    <img id="marca-growingtogether" src="../../img/Patrocinadores/GrowingTogether.png" alt="Marca GrowinTogether">
                </a>

                <!-- Marca: Golazos -->
                <a href="https://laligagolazos.com/" target="blank">
                    <img id="marca-golazos" src="../../img/Patrocinadores/Golazos.png" alt="Marca Golazos">
                </a>

                <!-- Marca: Socios.com -->
                <a href="https://www.socios.com/" target="blank">
                    <img id="marca-socios" src="../../img/Patrocinadores/Socios.png" alt="Marca Socios">
                </a>
                
                <!-- Marca: Gol-Ball -->
                <a href="https://golball.com/" target="blank">
                    <img id="marca-gol-ball" src="../../img/Patrocinadores/Gol-ball.png" alt="Marca Gol-Ball">
                </a>
                
                <!-- Marca: El Corte Inglés -->
                <a href="https://www.elcorteingles.es/" target="blank">
                    <img id="marca-el-corte-ingles" src="../../img/Patrocinadores/ElCorteIngles.png" alt="Marca El Corte Inglés">
                </a>
                
                <!-- Marca: Allianz -->
                <a href="https://www.allianz.es" target="blank">
                    <img id="marca-allianz" src="../../img/Patrocinadores/Allianz.png" alt="Marca Allianz">
                </a>
                
                <!-- Marca: Burguer King -->
                <a href="https://www.burgerking.es/home" target="blank">
                    <img id="marca-burguer-king" src="../../img/Patrocinadores/BurguerKing.png" alt="Marca Burguer King">
                </a>

                <!-- Marca: Panini -->
                <a href="https://www.panini.es/" target="blank">
                    <img id="marca-panini" src="../../img/Patrocinadores/Panini.png" alt="Marca Panini">
                </a>

                <!-- Marca: Marques de Atrio -->
                <a href="https://marquesdelatrio.com/" target="blank">
                    <img id="marca-marques-de-atrio" src="../../img/Patrocinadores/MarquesdelAtrio.png" alt="Marca Marques de Atrio">
                </a>
                
                <!-- Marca: Nissan -->
                <a href="https://www.nissan.es/gama/coches-e-power.html" target="blank">
                    <img id="marca-nissan" src="../../img/Patrocinadores/Nissan.png" alt="Marca Nissan">
                </a>
                
                <!-- Marca: Vivo -->
                <a href="https://www.vivo.com/es" target="blank">
                    <img id="marca-vivo" src="../../img/Patrocinadores/Vivo.png" alt="Marca Vivo">
                </a>
                
                <!-- Marca: Cabreiroa -->
                <a href="https://cabreiroa.es/" target="blank">
                    <img id="marca-cabreiroa" src="../../img/Patrocinadores/Cabreiroa.png" alt="Marca Cabreiroa">
                </a>
                
                <!-- Marca: Legends -->
                <a href="https://legends.football/" target="blank">
                    <img id="marca-legends"  src="../../img/Patrocinadores/Legends.png" alt="Marca Legends">
                </a>
            </div>
        </div>

    </section>

    <footer class="pie_pagina">
        <div class="pie_pagina1">
            <img src="../../img/Icon_LaLiga/LaLiga_logo_fondo_negro.png" alt="Icono de LaLiga Santander">

            <div class="container_redesSociales">
                <div id="rs1"></div>
                <div id="rs2"></div>
                <div id="rs3"></div>
                <div id="rs4"></div>
                <div id="rs5"></div>
                <div id="rs6"></div>
                <div id="rs7"></div>
            </div>
        </div>

        <hr>

        <div class="container_politicas">
            <span><a href="./informacion_legal.html">Información legal</a></span>
            <span><a href="./politica_de_privacidad.html">Política de Privacidad</a></span>
            <span><a href="./politica_de_cookis.html">Política de Cookis</a></span>
            <span>2023 LaLiga</span>
        </div>

    </footer>
    

    <script src="../../js/JQuery/JQuery-3.7.0.min.js"></script>
    <script src="../../js/menuburger.js"></script>
</body>
</html>