<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaLiga | Información Legal</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/mediaquery.css">
    <link rel="stylesheet" href="../css/privacidad.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>

    <!-- Cabecera principal (id='header-principal'). Estan colocados los escudos de los clubes y sus respectivos enlaces direccionando a las páginas webs de los mismos -->
    <header id="header-principal">
        
        <nav class="nav-clubes">

            <!-- Pequeño título: "Web Clubes" -->
            <!-- Ícono de ordenador portatil desde Bootstrap Icons -->
            <div id="title-web">
                <div id="web">Web Clubes</div>
                <div id="laptop-icon"><i class="bi bi-laptop"></i></div>
            </div>
            
            <!-- Contenedor de logos de cada club -->
            <div class="container-clubes">

                <!-- Cada club con la clase: class='clubes-primera' debido a que son de primera división -->
                <!-- FC Barcelona -->
                <div> 
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/FC_Barcelona.png" alt="FC Barcelona"></a>
                </div>
                
                <!-- Real Madrid -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Real_Madrid_CF.png" alt="Real Madrid CF"></a>
                </div>
                
                <!-- Atlético de Madrid -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Atletico_Madrid.png" alt="Atletico de Madrid"></a>
                </div>            
    
                <!-- Athletic de Bilbap -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Athletic_Bilbao.png" alt="Athletic Bilbao"></a>
                </div>
                
                <!-- Real Betis -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Real_Betis.png" alt="Real Betis"></a>
                </div>
                
                <!-- Sevilla FC -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Sevilla.png" alt="Sevilla FC"></a>
                </div>
                
                <!-- Valencia -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Valencia.png" alt="Valencia"></a>
                </div>
                
                <!-- RCD Mallorca -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/RCD_Mallorca.png" alt="RCD Mallorca"></a>
                </div>
                
                <!-- Rayo Vallecano -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Rayo_Vallecano.png" alt="Rayo Vallecano"></a>
                </div>
                
                <!-- Real Sociedad -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Real_Sociedad.png" alt="Real Sociedad"></a>
                </div>
                
                <!-- Villarreal -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Villarreal.png" alt="Villarreal CF"></a>
                </div>
                
                <!-- RC Celta -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Celta_Vigo.png" alt="RC Celta"></a>
                </div>
                
                <!-- Real Valladolid -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Valladolid.png" alt="Real Valladolid CF"></a>
                </div>
                
                <!-- Getafe CF -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Getafe.png" alt="Getafe CF"></a>
                </div>
                
                <!-- Elche -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Elche.png" alt="Elche CF"></a>
                </div>
                
                <!-- Cadiz -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Cadiz.png" alt="Cadiz CF"></a>
                </div>
                
                <!-- Espanyol -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Espanyol.png" alt="RCD Espanyol de Barcelona"></a>
                </div>
                
                <!-- Almería -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Almeria.png" alt="UD Almería"></a>
                </div>
                
                <!-- Girona -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Girona.png" alt="Girona FC"></a>
                </div>
                
                <!-- Osasuna -->
                <div>
                    <a href="#"><img class="clubes-primera" src="../../img/LaLiga_Clubes/Osasuna.png" alt="CA Osasuna"></a>
                </div>
            </div>

        </nav>
        
        <hr>

        <!-- Contenedor de navegador secundario (class="container-nav-secundario") donde se encuentran las opciones de navegación a travez de la página -->
        
        <div class="container-nav-secundario">
            
            <!-- Ícono de "LaLiga" (Oculto hasta que el tamaño sea menos de 930px) -->
            <div>
                <img class="img-icon-laLiga" src="../../img/Icon_LaLiga/Laliga_icon.png" alt="Logo de LaLiga">
            </div>

            <!-- Menú de hamburguesa de Bootstrap Icons (Oculto hasta los 930px) -->
            <i class="bi bi-list icon-button-burger"></i>

            <!-- Navegador secundario (class='nav-secundario') -->
            <nav class="nav-secundario nav-secundario-tienda">
                <ul class="nav-ul nav-ul-tienda">
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="../Presupuesto.html">Tienda</a></li>
                    <li><a href="../Galeria.html">Galería</a></li>
                    <li><a href="../contacto.html">Contacto</a></li>
                </ul>
            </nav>
            
        </div>

        <!-- Contenedor de encabezado de "Políciad de Cookis" -->
        <div class="container-encabezado-privacidad">
            
            <img src="../../img/Bordes_decorativos_LaLiga/borde-azul-uno.png" alt="Borde decorativo azul">
            
            <div class="title_infoLegal">
                <div>
                    <h1>POLÍTICA DE COOKIS</h1>
                </div>
                <div class="btns_avisos">
                    <a id="aviso3" href="./informacion_legal.html"><span>Avisos legales <span id="aviso1_oculto">y condiciones de uso</span></span></a>
                    <a id="aviso2" href="./politica_de_privacidad.html"><span>Políticas de privacidad</span></a>
                    <a id="aviso1" href="./politica_de_cookis.html"><span>Políticas de Cookis</span></a>
                </div>
            </div>
            
            <img src="../../img/Bordes_decorativos_LaLiga/borde-azul-dos.png" alt="Borde decorativo azul">
        
        </div>
        
    </header>

    <!-- Contenedor de texto de "Información Legal" -->
    <main class="container_text_il">
        <h1>Política de CookisS</h1><br>
            <span class="text_il">
                Se informa a los usuarios que la presente Web utiliza cookies propias y de terceros. <br><br>
            </span>
        <h2>1. ¿Qué son las cookies?</h2><br>
            <span class="text_il">
                Las cookies son pequeños ficheros de datos que se generan en el ordenador del usuario y que permiten que sea el propio usuario el que almacene la información que genera su actividad en la red. Las cookies permiten a LaLiga, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. <br><br>
                Las cookies propias se envían al equipo terminal del usuario desde un equipo o dominio gestionado por LaLiga y desde el que se presta el servicio solicitado por el usuario. Por otro lado, las cookies de terceros se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por LaLiga, sino por otra entidad que trata los datos obtenidos través de las cookies. <br><br>
                La Web emplea cookies de sesión (recaban y almacenan datos cuando el usuario accede y navega por la Web) y persistentes. Las cookies persistentes quedan almacenadas en el terminal del usuario de forma que los datos recogidos pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, que puede ir de unos minutos a varios años.
            </span> <br><br>
        <h2>2. Las cookies que empleamos según su finalidad</h2>
            
            <ul>
                <li class="list3">Cookies estrictamente necesarias: Estas cookies son necesarias para que el sitio web funcione y no se pueden desactivar en nuestros sistemas. Por lo general, solo se configuran en respuesta a sus acciones realizadas al solicitar servicios, como establecer sus preferencias de privacidad, iniciar sesión o completar formularios. Puedes configurar tu navegador para bloquear o alertar sobre estas cookies, pero algunas áreas del sitio no funcionarán. Estas cookies no almacenan ninguna información de identificación personal.</li>
                <li class="list3">Cookies dirigidas: Estas cookies pueden implementarse a través de nuestro sitio web por LaLiga o nuestros socios publicitarios. Dichas cookies son utilizadas para crear un perfil de tus intereses y mostrarte anuncios relevantes en otros sitios. Este perfil se basa en la identificación única de tu navegador y dispositivo de Internet. En este sentido, te informamos que las cookies que usamos sirven para las siguientes finalidades
                    <ul>
                        <li class="list4">Personalizar las campañas publicitarias;</li>
                        <li class="list4">Crear perfiles anónimos de navegación;</li>
                        <li class="list4">Mostrar anuncios que se ajusten a las preferencias de los usuarios;</li>
                        <li class="list4">Medir el rendimiento de las campañas publicitarias;</li>
                        <li class="list4">Reidentificar a usuarios que naveguen por webs propias o de terceros gracias al identificador de publicidad de cada dispositivo. El identificador de publicidad es un dato seudonimizado que no identifica directamente al usuario que está navegando por la Web aunque le puede hacer identificable en conjunción con otra información que se disponga de él;</li>
                        <li class="list4">Compartir los datos de sesión del usuario con otras entidades tales como Clubes, Patrocinadores y Agencias de Medios de terceras entidades con la finalidad de ofrecer al usuario publicidad personalizada sobre su propio contenido.</li>
                    </ul>
                </li>
            </ul><br>
            Si no permites utilizar estas cookies, verá menos publicidad dirigida. <br><br>
            <ul>
                <li class="list3">Cookies de rendimiento: Estas cookies nos permiten contar las visitas y fuentes de tráfico para poder evaluar el rendimiento de nuestro sitio y mejorarlo. Nos ayudan a saber qué páginas son las más o las menos visitadas, y cómo los visitantes navegan por el sitio. Toda la información que recogen estas cookies es agregada y, por lo tanto, es anónima. Si no permites utilizar estas cookies, no sabremos cuándo visitó nuestro sitio y no podremos evaluar si funcionó correctamente.</li>
                <li class="list3">Cookies de funcionalidad: Estas cookies permiten que el sitio web proporcione una mejor funcionalidad y personalización. Pueden ser establecidas por nosotros o por proveedores externos cuyos servicios hemos agregado a nuestras páginas. Si no permites utilizar estas cookies, es posible que algunos de estos servicios no funcionen correctamente.</li>
                <li class="list3"><strong>Marco de transparencia y consentimiento de IAB Europe (TCF 2.0)</strong>: Asimismo, aquellas cookies dirigidas de terceros que se encuentren adheridos al marco de transparencia y consentimiento de IAB Europe[1], no se incluirán dentro del punto “C. Cookies dirigidas” y pasarán a categorizarse en función de las siguientes finalidades del TCF 2.0:</li>
            </ul><br>
            <ul>
                <li class="list1">Almacenar o acceder a información en un dispositivo. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                <li class="list1">Anuncios y contenido personalizados, medición de anuncios y del contenido, información sobre el público y desarrollo de productos: <br>
                    <ul>
                        <li class="list1_fz">Crear un perfil publicitario personalizado. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Seleccionar anuncios personalizados. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad</li>
                        <li class="list1_fz">Crear un perfil para la personalización de contenidos. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Seleccionar contenido personalizado. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Medir el rendimiento de los anuncios. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Medir el rendimiento del contenido. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Seleccionar anuncios básicos. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Desarrollar y mejorar productos. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                        <li class="list1_fz">Utilizar estudios de mercado a fin de generar información sobre el público. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad</li>
                    </ul>
                </li>    
            </ul>
            <ul>        
                <li class="list1">Analizar activamente las características del dispositivo para su identificación. Se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                <li class="list1">Garantizar la seguridad, evitar fraudes y depurar errores. No se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                <li class="list1">Servir técnicamente anuncios o contenido. No se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                <li class="list1">Cotejar y combina fuentes de datos off line. No se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                <li class="list1">Vincular diferentes dispositivos. No se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
                <li class="list1">Recibir y utilizar para su identificación las características del dispositivo que se envían automáticamente. No se requiere el consentimiento del usuario para utilizar las cookies dirigidas con esta finalidad.</li>
            </ul><br>
            
        <h2>3. Gestión de cookies</h2><br>
            
            Puedes activar o desactivar las cookies que utilizamos a través del centro de preferencia de privacidad accesible desde el siguiente enlace: <br><br>
            Sin perjuicio de lo anterior, podrás, en todo momento, fijar las cookies permitidas en su navegador. No obstante, la desactivación de las cookies puede afectar al correcto funcionamiento de determinadas secciones de la Web. <br><br>
            Dependiendo del navegador utilizado, las opciones de instalación podrán encontrarse en diferentes secciones. A tal efecto, deberás consultar las instrucciones de su navegador si deseas saber cómo bloquear o permitir la instalación de las cookies. Para los siguientes navegadores, podrás encontrar más información en los siguientes enlaces: <br><br>
            <ul>
                <li>Chrome:
                    <a href="https://support.google.com/chrome/answer/95647?hl=es" target="blank">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a>
                </li>
                <li>Explorer:
                    <a href="https://support.microsoft.com/es-es/windows" target="blank"> http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a>
                </li>
                <li>Firefox:
                    <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we&redirectlocale=es" target="blank">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a>
                </li>
                <li>Safari:
                    <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="blank">http://support.apple.com/kb/ph5042</a>
                </li>
            </ul> <br>
            Podrás asimismo emplear herramientas de bloqueo de cookies de terceros que te permitirán detectar cookies en cualquier Web y gestionar su instalación. En el siguiente enlace podrás descargarte una de ellas: http://www.abine.com/dntdetail.php. <br><br>
            
        <h2>4. Origen de los datos</h2><br>
            <span>
                LaLiga puede recabar información a través de cookies o tecnologías similares, propias o de terceros, implementadas en nuestro sitio web relativa a los datos de navegación (Pantallas vistas, clics, tiempos de visita, etc.), información sociodemográfica (geolocalización, intereses, etc.), e información técnica del dispositivo (navegador, sistema operativo, etc.) <br><br>
                Por otro lado, LaLiga puede recibir información a través de cookies o tecnologías similares implementadas en activos de terceras entidades (patrocinadores, medios de comunicación, agencias de medios, terceras entidades que colaboran con LaLiga,
                así como operadores de televisión) relativa al uso y a la navegación que hayas podido realizar en los activos de dichas entidades asociada a identificadores aleatorios o de dispositivo y en su caso, información sociodemográfica.
            </span><br><br>
        <h2>5. Destinatarios de los datos</h2><br>
            <span>
                La información obtenida a través de las cookies de este sitio web la conocerán terceros con los que LaLiga mantiene diferentes clases de colaboración (en adelante, “Entidades colaboradoras”), con las finalidades descritas en esta política. <br><br>
                Del mismo modo, LaLiga comunicará los datos personales del usuario a Clubes, Patrocinadores y Agencias de Medios de terceras marcas con los que haya suscrito un acuerdo previo de colaboración con la finalidad prevista en el punto (vi) del
                apartado 2D de la presente política. Podrás encontrar una relación de aquellas entidades colaboradoras en el siguiente enlace. <br><br>
                Adicionalmente, con el fin de extraer métricas, analíticas y medición agregada de la web, LaLiga utiliza los servicios de Google Ireland (Google Analytics) que implica la transferencia internacional de los datos relativos a tu ID de Google
                Analytics, ID de dispositivo y otros datos sociodemográficos (edad, genero, residencia, país, etc.) almacenados en la cookie de Google Analytics a Google Inc. en los Estados Unidos, país donde no se garantiza un nivel equivalente de protección al del Espacio Económico Europeo. Por este motivo, desde LaLiga se han firmado cláusulas contractuales tipo adoptadas por la Comisión Europea con dicho proveedor en virtud de lo establecido en el art. 46.2 C del Reglamento General de Protección de Datos, incluyendo garantías y obligaciones adicionales dirigidas a estos proveedores para mayor seguridad y transparencia posible. El contenido de las cláusulas contractuales tipo se encuentra a tu disposición en el siguiente enlace: https://support.google.com/analytics/answer/9012600?hl=es. <br><br>
                Además, Google pone a disposición de sus usuarios más información sobre las transferencias internacionales de datos en el siguiente enlace: https://support.google.com/analytics/answer/11609059?hl=es <br><br>
                Recuerda que tus datos solo se transferirán si has otorgado el consentimiento para la instalación de la cookie de Google Analytics en tu navegador, el cual podrás revocarlo en cualquier momento, en el CMP de Cookies de la Web o a través del siguiente enlace.
            </span><br><br>
        <h2>6. Más información</h2><br>
            <span>
                Por último, te informamos de que tienes la posibilidad de revocar en cualquier momento el consentimiento prestado para la utilización de cookies por parte de LaLiga, cambiando la configuración del centro de preferencia de privacidad o configurando para ello tu navegador en los términos previstos en el punto 3. <br><br>
                LaLiga puede modificar esta Política de Cookies en función de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos. Por ello se aconseja a los usuarios que visiten periódicamente esta página para conocer los cambios sufridos en las mismas. <br><br>
                Si tienes dudas sobre la presente Política de Cookies, puedes ponerse en contacto con LaLiga a través del buzón de correo lopd@laliga.es. Asimismo, si consideras que no ha obtenido satisfacción en el ejercicio de sus derechos o que el tratamiento de tus datos no se ha realizado conforme establece la normativa aplicable, puedes contactar con el delegado de protección de datos de LaLiga en la dirección de correo electrónico dpo@laliga.es o presentar una reclamación ante la Agencia Española de Protección de Datos a través de su página web www.agpd.es.
            </span>
    </main>

    <!-- Contenedor patrocinadores (class='container-patrocinadores') -->
    <section class="container-patrocinadores">

        <!-- Título -->
        <div class="patrocinador-principal">
            <h5>Patrocinador principal</h5>

            <!-- Imagen de banco Santander -->
            <div>
                <a href="https://www.santander.com/es/home" target="blank"><img src="../../img/Patrocinadores/logo-santander.png" alt="Logo de banco Santander"></a>
            </div>
        </div>


        <!-- Contenedor de patrocinadores oficiales/secundarios -->
        <div class="patrocinador-secundario">

            <!-- Título -->
            <h5>Patrocinadores oficiales</h5>

            <!-- Contenedor de patrocinadores -->
            <div class="container-p-o">

                <!-- Marca: Puma -->
                <a href="https://eu.puma.com/es/es/home" target="blank">
                    <img id="marca-puma" src="../../img/Patrocinadores/Puma.png" alt="Marca Puma">
                </a>

                <!-- Marca: Fifa23 -->
                <a href="https://www.ea.com/es-es/games/fifa/fifa-23" target="blank">
                    <img id="marca-fifa23" src="../../img/Patrocinadores/Fifa23.png" alt="Marca Fifa23">
                </a>
                
                <!-- Marca: Microsoft -->
                <a href="https://www.microsoft.com/es-es/" target="blank">
                    <img id="marca-microsoft" src="../../img/Patrocinadores/Microsoft.png" alt="Marca Microsoft">
                </a>
                
                <!-- Marca: Mahou -->
                <a href="https://www.mahou.es/" target="blank">
                    <img id="marca-mahou" src="../../img/Patrocinadores/Mahou.png" alt="Marca Mahou">
                </a>
                
                <!-- Marca: Soares -->
                <a href="https://sorare.com/football/laliga" target="blank">
                    <img id="marca-soares" src="../../img/Patrocinadores/Sorare.png" alt="Marca">
                </a>
                
                <!-- Marca: GrowingTogether -->
                <a href="https://www.bkt-tires.com/es/es/" target="blank">
                    <img id="marca-growingtogether" src="../../img/Patrocinadores/GrowingTogether.png" alt="Marca GrowinTogether">
                </a>

                <!-- Marca: Golazos -->
                <a href="https://laligagolazos.com/" target="blank">
                    <img id="marca-golazos" src="../../img/Patrocinadores/Golazos.png" alt="Marca Golazos">
                </a>

                <!-- Marca: Socios.com -->
                <a href="https://www.socios.com/" target="blank">
                    <img id="marca-socios" src="../../img/Patrocinadores/Socios.png" alt="Marca Socios">
                </a>
                
                <!-- Marca: Gol-Ball -->
                <a href="https://golball.com/" target="blank">
                    <img id="marca-gol-ball" src="../../img/Patrocinadores/Gol-ball.png" alt="Marca Gol-Ball">
                </a>
                
                <!-- Marca: El Corte Inglés -->
                <a href="https://www.elcorteingles.es/" target="blank">
                    <img id="marca-el-corte-ingles" src="../../img/Patrocinadores/ElCorteIngles.png" alt="Marca El Corte Inglés">
                </a>
                
                <!-- Marca: Allianz -->
                <a href="https://www.allianz.es" target="blank">
                    <img id="marca-allianz" src="../../img/Patrocinadores/Allianz.png" alt="Marca Allianz">
                </a>
                
                <!-- Marca: Burguer King -->
                <a href="https://www.burgerking.es/home" target="blank">
                    <img id="marca-burguer-king" src="../../img/Patrocinadores/BurguerKing.png" alt="Marca Burguer King">
                </a>

                <!-- Marca: Panini -->
                <a href="https://www.panini.es/" target="blank">
                    <img id="marca-panini" src="../../img/Patrocinadores/Panini.png" alt="Marca Panini">
                </a>

                <!-- Marca: Marques de Atrio -->
                <a href="https://marquesdelatrio.com/" target="blank">
                    <img id="marca-marques-de-atrio" src="../../img/Patrocinadores/MarquesdelAtrio.png" alt="Marca Marques de Atrio">
                </a>
                
                <!-- Marca: Nissan -->
                <a href="https://www.nissan.es/gama/coches-e-power.html" target="blank">
                    <img id="marca-nissan" src="../../img/Patrocinadores/Nissan.png" alt="Marca Nissan">
                </a>
                
                <!-- Marca: Vivo -->
                <a href="https://www.vivo.com/es" target="blank">
                    <img id="marca-vivo" src="../../img/Patrocinadores/Vivo.png" alt="Marca Vivo">
                </a>
                
                <!-- Marca: Cabreiroa -->
                <a href="https://cabreiroa.es/" target="blank">
                    <img id="marca-cabreiroa" src="../../img/Patrocinadores/Cabreiroa.png" alt="Marca Cabreiroa">
                </a>
                
                <!-- Marca: Legends -->
                <a href="https://legends.football/" target="blank">
                    <img id="marca-legends"  src="../../img/Patrocinadores/Legends.png" alt="Marca Legends">
                </a>
            </div>
        </div>

    </section>

    <footer class="pie_pagina">
        <div class="pie_pagina1">
            <img src="../../img/Icon_LaLiga/LaLiga_logo_fondo_negro.png" alt="Icono de LaLiga Santander">

            <div class="container_redesSociales">
                <div id="rs1"></div>
                <div id="rs2"></div>
                <div id="rs3"></div>
                <div id="rs4"></div>
                <div id="rs5"></div>
                <div id="rs6"></div>
                <div id="rs7"></div>
            </div>
        </div>

        <hr>

        <div class="container_politicas">
            <span><a href="./informacion_legal.html">Información legal</a></span>
            <span><a href="./politica_de_privacidad.html">Política de Privacidad</a></span>
            <span><a href="./politica_de_cookis.html">Política de Cookis</a></span>
            <span>2023 LaLiga</span>
        </div>

    </footer>
    

    <script src="../../js/JQuery/JQuery-3.7.0.min.js"></script>
    <script src="../../js/menuburger.js"></script>
</body>
</html>